// Fonte
$fontePrincipal: 'Roboto', sans-serif;

// Cores
$corPrincipal: #182c61;
$corSecundaria: #33bd32;
$corSecundaraHover: #4cd127;
$corDeFundo: #f5f6fa;

// Container
$containerMaxWidth: 1024px;

// Bordas arredondadas
$imagem: 16px;
$botao: 8px;